*{
    margin: 0;
    padding: 0;
}
body{
    background-color: papayawhip;
}
.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto;
    box-shadow: 2px 2px 3px #2b2b2b , -2px -2px 3px #2b2b2b;
    border-radius: 3px;
    background-color: rgba(0,0,0,.5);
}

.login-box>.title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.login-box>input{
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px darkcyan, -2px -2px  blue;
    border-radius: 30px;
    margin: 20px auto;
    box-sizing: border-box;
    background-color:  rgba(0,0,0,.6);
    color: #ffffff;
    cursor: pointer;
    transition: all .2s linear;
}
.login-box>button{
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px solid green;
    color: #fff;
    text-transform: capitalize;
    border-radius: 30px;
    background-color: black;
    cursor: pointer;
    transition: all .5s ease;

}
.login-box>button:hover{
    background-color: limegreen;
    color: black;
    border-color: black;
}
@media (max-width:576px) {
    .login-box{
        width: 90%;
    }
    .login-box>input{
        width: 250px;
    }
}